<div class="todo-header">
  <div class="inline-block">
    <div class="todo-title">Task And Reminder</div>
    <div class="todo-desc">Create New Task And Set Reminder</div>
  </div>
  <div class="inline-block todo-add hvr-pulse" ng-class="{disabled: state == 'add'}" ng-click="addTodo($event)">
    <img src="TODO/add.png">
  </div>
</div>
<div class="todo-list" ng-switch on="state">
  <div ng-switch-when="list">
    <input type="text" ng-model="search" class="search-query" placeholder="Search">
    <p class="list-title">Reminders</p>
    <table>
      <tr ng-repeat="todo in $storage.todos | filter:search | orderBy:'reminderTime' | limitTo:limit">
        <td class="check"><input type="checkbox" ng-model="todo.done"></td>
        <td class="text"><span class="done-{{todo.done}}">{{todo.text}}</span></td>
      </tr>
    </table>
    <input type="button" ng-click="showAll($event)" ng-show="needShowAll(($storage.todos | filter:search).length)" value="Show All">
    <input type="button" ng-click="done($event)" ng-show="remaining() != 0" value="Done ({{remaining()}})">
  </div>
  <div ng-switch-when="add">
    <form name="todoForm">
      <div class="control-group" ng-class="{error: todoForm.task.$invalid}">
        <label>Task</label>
        <input type="text" name="task" ng-model="todo.text" required autofocus>
        <span class="error help-inline" ng-show="todoForm.task.$error.required">Required!</span>
      </div>
      <div class="control-group" ng-class="{error: todoForm.reminderTime.$invalid}">
        <label>Reminder time</label>
        <input type="datetime-local" name="reminderTime" ng-model="todo.reminderTime" min="{{'' | currentdatetime}}" placeholder="yyyy-MM-ddTHH:mm" required>
        <span class="error help-inline" ng-show="todoForm.reminderTime.$error.required">Required!</span>
        <span class="error help-inline" ng-show="todoForm.reminderTime.$error.datetimelocal">Not a valid date!</span>
        <span class="error help-inline" ng-show="todoForm.reminderTime.$error.min">Date must be greater than current!</span>
      </div>
      <input type="button" ng-click="cancel($event)" value="Cancel">
      <input type="button" ng-click="save($event)" ng-disabled="todoForm.$invalid" value="Save">
    </form>
  </div>
</div>