.todo-container {
    min-width: 300px;
}

.todo-header .inline-block {
    display: inline-block;
}

.todo-header .todo-title {
    font-size: 24px;
    line-height: 24px;
}

.todo-header .todo-desc {
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0;
}

.todo-header .todo-add {
    font-size: 44px;
    cursor: pointer;
}

.todo-header .todo-add.text-success {
    color: #449d44;
}

.todo-header .todo-add.text-muted {
    cursor: inherit;
}

@keyframes hvr-pulse {
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.9);
    }
}

.hvr-pulse:not(.text-muted) {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.hvr-pulse:not(.text-muted):hover, .hvr-pulse:not(.text-muted):focus, .hvr-pulse:not(.text-muted):active {
    animation-name: hvr-pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

datetimepicker {
    display: block;
}